#chat-placeholder {
  background-color: #f7f9fa;

  h2 {
    font-size: 35px;
    font-weight: normal;
    color: #545454;
  }

  #separator {
    border-top: 1px solid #eaeaea;
  }

  a {
    color: #45bf57;
    text-decoration: none;
  }
}
